.row {
  border-top: 1px solid var(--color-border);
  background-color: var(--color-background-soft);
  transition: 0.1s;
  cursor: pointer;
}

.row:hover {
  border-top: 1px solid var(--color-border-hover);
  background-color: var(--color-background-mute);
  transition: 0.1s;
}

.rowCell {
  text-align: center;
}

td.title {
  text-align: left;
  width: 40%;
}

.imageCell {
  width: 30%;
}

.shipTypeCell,
.levelCell {
  width: 7%;
}

.nationCell {
  width: 11%;
}