.catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 15px 0;
  width: 100%;
}

.toolbarRight {
  display: flex;
  flex-wrap: wrap;
}

.clearQuery {
  display: inline-block;
  text-decoration: underline dotted;
  cursor: pointer;
  margin: 0 10px;
}